@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: regular;
  src: url('iosevka-regular.ttf') format('truetype');
}
@font-face {
  font-family: "Iosevka";
  font-style: normal;
  font-weight: bold;
  src: url('iosevka-regular.ttf') format('truetype');
}

@font-face {
  font-family: "Iosevka";
  font-style: italic;
  font-weight: bold;
  src: url('iosevka-regular.ttf') format('truetype');
}



html,body {
    display: flex;              
    font-family: "Iosevka";       
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: scroll;
}

*::-webkit-scrollbar { width: 0 !important }

.outline-text p {
  //margin-left: 1rem;
  //padding-left: 0.61rem;
}

p {
  margin: 0 0 0 0;
}

p:first-child:first-letter {
    font-size: 1.8rem;
    color: #bb0000;
    text-transform: uppercase;
    font-weight: bold;
    margin: .2rem .1rem;
}

/* .org-src-container { */
    pre.src {
       padding: .52rem;
    }
/* } */

.todo, .done {
  display: inline;
  background: orange;
  color: black;
  margin: 0 .62rem auto;
}
.header > code {
  font-family: "Iosevka";       
  font-weight: bold;
  color: green;
  margin-left: .62rem;
}
.done {
  background: green;
  color: white;
}

#table-of-contents {
    display: none;
}

#postamble {
  display: none;
}

#content > h1.header {
    display: none;
    background: black;
    color: white;
}

#content > header h1 {
    margin: 0 0 0 0;
}

#content {
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    justify-content: flex-start;
}

.header {
  display: flex;
  order: 0;     
  flex: 0 0 auto;
  width: 100%;
  /* //padding: .5rem .7rem; */
  margin: .62rem;       
  font-weight: bold;      
  /* align-self: flex-start; */
  /* border-bottom: 1px solid gray; */
}

.outline {
    display: flex;
    transform: scale(0);
    max-width: 0;
    max-height: 0;
    flex: 1 1 auto;
    flex-flow: row wrap;
    overflow: scroll;
    transition: all ease-in-out .3s;
    box-sizing: border-box;
    justify-content: flex-start;        
    align-content: flex-start;
    align-items: stretch;
    margin: .52rem;
    border: 1px dotted transparent;
}

.outline li {
    list-style-type: none;
}

.outline-2  {

}

.outline-3  {

}

.outline-2 > .header {
  /* display: flex !important; */
  /* outline-style: none; */

}

.pov-parent {
   display: flex;
   flex-basis: 100%;       
   flex-grow: 1;
   flex-shrink: 1;
   padding: 0;
   margin: 0;
   z-index: 1;
   overflow: scroll;
   height: 100%;
   transform: scale(1);
   max-height: 100%;
   max-width: 100%;

}

.pov-parent > .header {  display: flex; order: 0; margin: 0 0 0 0; }

.pov-parent > .outline-text {  display: none;  }

.pov {      
  transform: scale(1);
  border: 1px dotted black;
  box-sizing: border-box;
  overflow: scroll;     
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
}

.pov .outline {
  display: flex;
  transform: scale(1);
  max-height: 100%;
  max-width: 100%;
  order: 3;
}

.pov > .outline {
  background: #fafafa;
}

.pov > .outline > .outline {
  //border: 1px solid #eee;
  background: #efefef;
}

.pov > .outline > .outline ul {
  display: none;
}

.pov > .outline > .outline .outline-text {
  display: none;
}

.pov > .outline > .outline .header {

}

.pov > .outline > .outline .outline {
  display: none;
}

.pov .header {
  //padding: 0.61rem;
}

.pov .outline-text {
  display: flex;         
  flex-direction: column;
  order: 2;
  overflow: auto;
  margin: .62rem;
  flex: 1 1 auto;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
}

h2 {         
  font-size: 1.7rem;
}     

h3 {
  font-size: 1.61rem;
}

h4 {
  font-size: 1.39rem;
}

h5 {
  font-size: 1.21rem;
}

h6 {
  font-size: 1.16rem;
}

body {
  grid-kiss:
    "+-------------------------------+      "
    "|           header ↑            | 120px"
    "+-------------------------------+      "
    "                                       "
    "+-- 30% ---+  +--- auto --------+      "
    "| .sidebar |  |       main      | auto "
    "+----------+  +-----------------+      "
    "                                       "
    "+-------------------------------+      "
    "|              ↓                | 60px "
    "|         → footer ←            |      "
    "+-------------------------------+      "
}
